<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LangChain - Nitro - Backend</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
    <link rel="icon" href="/images/icon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body class="container mx-auto">
    <div id="app">
        {{app}}
    </div>

    <script type="module" src="/scripts/main.js"></script>
</body>

</html>