<div class="grid grid-cols-[0.4fr_0.3fr_0.3fr] grid-rows-[auto] gap-4 p-4">
    <!-- Header -->
    <div class="col-start-1 col-end-4 row-start-1 row-end-2 bg-blue-200">
        <img class="w-full h-72 object-cover object-top" src="/images/eliska.jpg" alt="">
    </div>

    <!-- Hero Image -->
    <div class="col-start-1 col-end-2 row-start-2 row-end-3 bg-purple-200">
        <img class="w-full h-full object-cover" src="/images/eliska-beach.jpg" alt="">
    </div>

    <!-- Main Content -->
    <div class="col-start-2 col-end-4 row-start-2 row-end-4 bg-yellow-300">
        <img class="w-full h-full object-cover" src="/images/eliska-snorkle.jpg" alt="">
    </div>

    <!-- Sidebar -->
    <div class="col-start-1 col-end-2 row-start-3 row-end-5 bg-green-200">
        <img class="w-full h-full object-cover" src="/images/eliska-surf.jpg" alt="">
    </div>

    <!-- Extra Content -->
    <div class="col-start-2 col-end-4 row-start-4 row-end-5 bg-gray-400">
        <img class="w-full h-full object-cover" src="/images/eliska-surf2.jpg" alt="">
    </div>

    <!-- Related Images -->
    <div class="col-start-1 col-end-3 row-start-5 row-end-6 bg-teal-200">
        <img class="w-full h-full object-cover" src="/images/eliska-veda.jpg" alt="">
    </div>

    <!-- Related Posts -->
    <div class="col-start-3 col-end-4 row-start-5 row-end-6 bg-pink-200">
        <img class="w-full h-full object-cover" src="/images/eliska-river.jpg" alt="">
    </div>

    <!-- Footer -->
    <div class="col-start-1 col-end-4 row-start-6 row-end-7 bg-orange-200">
        <img class="w-full h-72 object-cover object-bottom" src="/images/eliska.jpg" alt="">
    </div>
</div>