<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LangChain - Nitro - Backend</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>

<body class="container mx-auto">
    <div class="prose flex flex-col p-8 border max-w-md mx-auto mt-12 rounded-md shadow-md">
        <h1 class="uppercase text-center">Prompts</h1>
        <p id="setup" class="ml-3 text-center">{{ response }}</p>
    </div>
</body>

</html>