<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LangChain - Nitro - Backend</title>
    <link rel="icon" href="/images/icon.svg" type="image/svg+xml">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio"></script>
</head>

<body class="container mx-auto">
    <div class="prose flex flex-col p-8 border max-w-md mx-auto mt-12 rounded-md shadow-md">
        <h1 class="uppercase text-center">Joke</h1>
        <p class="not-prose text-sm font-bold">Setup</p>
        <p id="setup" class="ml-3">{{ setup }}</p>
        <p class="not-prose text-sm font-bold">Punchline</p>
        <p id="punchline" class="ml-3">{{ punchline }}</p>
    </div>
</body>

</html>